.card {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 22px;
  border: 1px solid #e6e6e6;
}

.card__img {
  margin-left: 20px;

  &--small {
    margin-bottom: -3px;
  }

  &--big {
    margin-bottom: -5px;
  }
}

.card__button {
  @include button-outline;
  width: 280px;
  font-family: "Oswald", "Arial", sans-serif;
  // margin-top: -2px;
  margin-left: 20px;
}

.card-product {
  position: relative;
  text-align: center;
  padding-top: 80px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus.svg");
    margin-top: 24px;
    opacity: 0.2;
  }
}

.card-product__title {
  display: block;
  margin-bottom: 8px;
}

.card-product__desk {
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
}

.card__button--product {
  @include button-outline;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: $bg-dark;
}

/*Планшет*/

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    padding-bottom: 35px;
    background-color: $bg-dark;
    margin-bottom: 142px;
  }

  .card__img {
    margin-left: 0;

    &--small {
      margin-bottom: -3px;
    }

    &--big {
      margin-bottom: -5px;
    }
  }


  .card:nth-child(7) {
    margin-bottom: 0;
  }

  .card__button {
    @include button-outline;
    width: 250px;
    font-family: "Oswald", sans-serif;
    margin-left: 0;
  }

  .card-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid $bg-dark;
    border-top: 1px solid $bg-dark;
    margin: 0;
    padding: 164px 38px 40px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
      margin-top: 54px;
      opacity: 0.2;
    }
  }

  .card-product__title {
    width: 138px;
    margin-bottom: 26px;
  }

  .card-product__desk {
    font-size: 16px;
    line-height: 20px;
    width: 172px;
    margin-bottom: 82px;
  }

  .card__button--product {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    background-color: $bg-dark;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .card {
    display: block;
    width: 250px;
    padding: 0 0 35px;
    background-color: $bg-dark;
    margin-bottom: 144px;
  }

  .card__img--small {
    display: block;
    width: 245px;
    margin: 0 auto;
    margin-top: -44px;
  }

  .card__img--big {
    display: block;
    width: 245px;
    margin: 0 auto;
    margin-top: -80px;
  }


  .card:nth-child(7) {
    margin-bottom: 142px;
  }

  .card__button {
    @include button-outline;
    width: 170px;
    font-family: "Oswald", "Arial", sans-serif;
    margin: 0 auto;
  }

  .card-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid $bg-dark;
    border-top: 1px solid $bg-dark;
    margin: 0;
    padding: 28px 36px 40px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
      margin-top: 54px;
      opacity: 0.2;
    }
  }

  .card-product__title {
    width: 138px;
    margin-bottom: 23px;
  }

  .card-product__desk {
    font-size: 16px;
    line-height: 20px;
    width: 172px;
    margin-bottom: 80px;
  }

  .card__button--product {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    background-color: $bg-dark;
  }
}
