.catalog {
  padding: 28px 0;
}

.catalog__wrap-title {
  padding-bottom: 40px;
  margin-left: 20px;
  border-bottom: 1px solid #e6e6e6;
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0;
    padding-top: 50px;
    border-bottom: none;
  }

  .catalog__wrap-title {
    padding: 0 30px;
    margin: 0;
    margin-bottom: 164px;
    border-bottom: none;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .catalog {
    padding: 52px 40px;
    // border-bottom: none;
  }

  .catalog__wrap-title {
    padding: 0;
    margin-top: 26px;
    margin-bottom: 166px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
