.diet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}


// Планшет

@media (min-width: $tablet-width) {
  .diet {
    padding: 532px 30px 0;
    margin: 0;
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .diet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 40px 40px;
  }
}
