.energy {
  position: relative;
  background-color: $bg-dark;
  padding: 40px 20px 0;
  margin-bottom: 20px;
}

.energy__title {
  @include title-two;
  padding-left: 94px;
  margin-bottom: 25px;

  &::before {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #68b738;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 36px;
  }

  &::after {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url("/../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 34px;
    z-index: 2;
  }
}

.energy__intro {
  margin-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.energy__title--BIG {
  &::after {
    width: 68px;
    height: 28px;
    top: 0;
    left: 0;
    background-image: url("/../img/icon-cat-pro.svg");
    transform: translateY(50%);
    margin-left: 13px;
    margin-top: 36px;
  }
}

.energy__button {
  @include button-outline;
  font-family: "Oswald", "Ariel,"sans-serif;
  font-size: 16px;
  color: #111111;
  background-color: #f2f2f2;
  text-align: left;
  padding-left: 20px;
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .energy {
    position: relative;
    padding: 76px 50px 60px;
  }

  .energy__title {
    @include title-two;
    font-size: 36px;
    line-height: 37px;
    padding-bottom: 27px;

    &::before {
      width: 200px;
      height: 200px;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #68b738;
      border-radius: 50%;
      margin-left: 446px;
      margin-top: 12px;
    }

    &::after {
      width: 140px;
      height: 195px;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url("/../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      margin-left: 477px;
      margin-top: -3px;
      z-index: 2;
    }
  }

  .energy__intro {
    width: 375px;
    margin-bottom: 60px;
    padding: 0;
  }

  .energy__title--BIG {
    &::after {
      width: 271px;
      height: 115px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("/../img/icon-cat-pro.svg");
      margin-left: 414px;
      margin-top: 12px;
    }
  }

  .energy__intro--BIG {
    width: 340px;
  }

  .energy__button {
    @include button-outline;
    font-family: "Oswald", "Ariel,"sans-serif;
    font-size: 16px;
    color: #111111;
    background-color: #f2f2f2;
    text-align: left;
    width: 155px;
  }
}
