.energy {
  background-color: $bg-dark;
  padding: 32px 20px 0;
  margin-top: 20px;
}

.energy__title {
  @include title-two;
  position: relative;
  padding-left: 72px;
  margin-bottom: 28px;

  &::before {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    width: 35px;
    height: 52px;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: -2px;
    z-index: 2;
  }
}


.energy__intro {
  margin-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.energy__title--BIG {
  &::after {
    width: 68px;
    height: 28px;
    top: 50%;
    left: 0;
    background-image: url("../img/icon-cat-pro.svg");
    transform: translateY(-50%);
    margin-left: -9px;
    margin-top: -1px;
  }
}

.energy__button {
  @include button-outline;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #111111;
  background-color: #f2f2f2;
  text-align: left;
  margin: 10px 0;
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .energy {
    position: relative;
    padding: 54px 52px 44px;
    margin-bottom: 30px;
  }

  .energy__title {
    @include title-two;
    font-size: 36px;
    line-height: 37px;
    position: relative;
    margin-bottom: 25px;

    &::before {
      width: 200px;
      height: 200px;
      position: absolute;
      content: "";
      top: 0;
      left: 100%;
      transform: translate(-100%, 25%);
      background-color: #68b738;
      border-radius: 50%;
      margin-top: -34px;
      margin-left: -10px;
    }

    &::after {
      width: 142px;
      height: 195px;
      position: absolute;
      content: "";
      top: 0;
      left: 100%;
      transform: translate(-100%, 25%);
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      margin-left: -38px;
      margin-top: -45px;
      z-index: 2;
    }
  }

  .energy__intro {
    width: 374px;
    margin-bottom: 44px;

    &--BIG {
      width: 344px;
    }
  }

  .energy__title--BIG {
    &::after {
      width: 273px;
      height: 114px;
      top: 0;
      left: 100%;
      background-image: url("../img/icon-cat-pro.svg");
      transform: translate(-100%, 25%);
      margin-left: 28px;
      margin-top: 28px;
    }
  }

  .energy__button {
    @include button-outline;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    color: #111111;
    background-color: $bg-dark;
    text-align: left;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .energy {
    width: 570px;
    position: relative;
    padding: 78px 50px 50px;
  }

  .energy__title {
    @include title-two;
    font-size: 36px;
    line-height: 37px;
    position: relative;
    margin-bottom: 74px;
    padding-left: 165px;

    &::before {
      width: 100px;
      height: 100px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: #68b738;
      border-radius: 50%;
      margin-top: -54px;
      margin-left: 102px;
    }

    &::after {
      width: 71px;
      height: 98px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      margin-left: 87px;
      margin-top: -62px;
      z-index: 2;
    }
  }

  .energy__intro {
    width: 469px;
    margin-bottom: 16px;

    &--BIG {
      width: 452px;
    }
  }

  .energy__title--BIG {
    &::after {
      width: 134px;
      height: 57px;
      top: 0;
      left: 0;
      background-image: url("../img/icon-cat-pro.svg");
      transform: translate(-100%, 25%);
      margin-left: 120px;
      margin-top: -22px;
    }
  }

  .energy__button {
    @include button-outline;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    color: #111111;
    background-color: $bg-dark;
    text-align: left;
    padding-left: 5px;
  }
}
