.energy {
  background-color: $bg-dark;
  padding: 40px 20px 0;
  margin-bottom: 20px;
}

.energy__title {
  @include title-two;
  position: relative;
  padding-left: 94px;
  margin-bottom: 25px;

  &::before {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    width: 35px;
    height: 48px;
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    margin-left: 8px;
    margin-top: -4px;
    z-index: 2;
  }
}


.energy__intro {
  margin-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.energy__title--BIG {
  &::after {
    width: 68px;
    height: 28px;
    top: 50%;
    left: 0;
    background-image: url("../img/icon-cat-pro.svg");
    transform: translateY(-50%);
    margin-left: -9px;
    margin-top: 2px;
  }
}

.energy__button {
  @include button-outline;
  font-family: "Oswald", "Ariel,"sans-serif;
  font-size: 16px;
  color: #111111;
  background-color: #f2f2f2;
  text-align: left;
  padding-left: 20px;
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .energy {
    position: relative;
    padding: 76px 50px 60px;
    margin-bottom: 32px;
  }

  .energy__title {
    @include title-two;
    font-size: 36px;
    line-height: 37px;
    position: relative;
    padding-left: 94px;
    margin-bottom: 25px;

    &::before {
      width: 200px;
      height: 200px;
      position: absolute;
      content: "";
      top: 0;
      left: 100%;
      transform: translate(-100%, 25%);
      background-color: #68b738;
      border-radius: 50%;
      margin-top: -30px;
    }

    &::after {
      width: 142px;
      height: 195px;
      position: absolute;
      content: "";
      top: 0;
      left: 100%;
      transform: translate(-100%, 25%);
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      margin-left: -28px;
      margin-top: -42px;
      z-index: 2;
    }
  }

  .energy__intro {
    width: 374px;
    margin-bottom: 44px;

    &--BIG {
      width: 344px;
    }
  }

  .energy__title--BIG {
    &::after {
      width: 273px;
      height: 114px;
      top: 0;
      left: 100%;
      background-image: url("../img/icon-cat-pro.svg");
      transform: translate(-100%, 25%);
      margin-left: 30px;
      margin-top: 30px;
    }
  }

  .energy__button {
    @include button-outline;
    font-family: "Oswald", "Ariel,"sans-serif;
    font-size: 16px;
    color: #111111;
    background-color: #f2f2f2;
    text-align: left;
    padding-left: 20px;
  }
}
