.footer-main {
  background-color: #f2f2f2;
  padding: 0 20px 0;
  box-sizing: border-box;
}

.footer-main__wrapper {
  width: 280px;
  padding: 40px 95px 33px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.footer-main__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
