.footer-main__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 0 0;
}

.copyright__text {
  width: 120px;
  height: 16px;
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

.copyright__logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: -8px;
  color: #686868;
}

.copyright__logo-img {
  width: 36px;
  height: 42px;
}

.copyright__logo-img path {
  fill: #686868;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .footer-main__copyright {
    display: flex;
    justify-content: space-between;
    width: 162px;
    height: 50px;
    padding: 0;
    margin: 0;
  }

  .copyright__text {
    width: 116px;
    height: 16px;
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin: 0;
    padding: 0;
  }

  .copyright__logo {
    display: block;
    margin: 0;
    padding: 0;
    color: #686868;
  }

  .copyright__logo-img {
    width: 40px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .footer-main__copyright {
    display: flex;
    justify-content: space-between;
    width: 162px;
    height: 50px;
    padding: 0;
    margin: 0;
  }

  .copyright__logo-img {
    width: 40px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
}
