.social {
  @include reset-list;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 20px 20px 22px;
  border-bottom: 1px solid #d9d9d9;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  fill: #686868;
  padding: 0;
  margin: 0;

  &--vk {
    width: 22px;
    height: 12px;
    margin-left: 53px;
  }

  &--insta {
    width: 16px;
    height: 16px;
    margin-left: 36px;
  }

  &--fb {
    width: 10px;
    height: 19px;
    margin-left: 38px;
  }

  &:hover {
    fill: #68b738;
  }

  &:focus {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

// .vk {
//   display: block;
//   width: 22px;
//   height: 12px;
//   margin-left: 53px;
// }


/*Планшет*/

@media (min-width: $tablet-width) {
  .social {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 118px;
    height: 28px;
    border-bottom: none;
    padding: 0;
    margin: 0;
    margin-right: 130px;
  }

  .social__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social__icon {
    display: block;
    padding: 0;
    margin: 0;
    fill: #686868;

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }

    &:hover {
      fill: #68b738;
    }

    &:focus {
      fill: #68b738;
    }

    &:active {
      fill: #68b738;
      opacity: 0.3;
    }
  }
}

/*Десктоп*/

@media (min-width: $desktop-width) {
  .social {
    // margin-right: 386px;
  }
}
