.page-header {
  margin: 0;
  padding: 12px 20px 0;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {
  width: 220px;
  height: 37px;
  padding-bottom: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.st0 {
  fill: #fdc305;
}

.st1 {
  fill: #f06351;
}

.page-header__toggle {
  @include button-outline;
  background-color: #ffffff;
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 60px;
    margin: 0;
    background-color: aqua;
  }

  .page-header__logo {
    width: 172px;
    height: 57px;
    padding: 0;
    margin: 0;

    // Временно для сетки
    background-color: #fdc305;
  }

  .page-header__toggle {
    display: none;
  }
}
