.header {
  margin: 0;
  padding-top: 14px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.header__logo-img {
  width: 72%;
  height: 60px;
  padding: 0;
  margin: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.st0 {
  fill: #fdc305;
}

.st1 {
  fill: #f06351;
}

.st2 {
  fill: #111111;
}

.logo-t,
.logo-d {
  display: none;
}


// Планшет

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px 0;
    margin: 0;
  }

  .header__wrapper {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  .header__logo {
    width: 266px;
    padding: 0;
    margin: 0;
  }

  .header__logo-img {
    width: 202px;
    height: 64px;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }


  .st0 {
    fill: #fdc305;
  }

  .st1 {
    fill: #f06351;
  }

  .st2 {
    fill: #e55645;
  }

  .st3 {
    fill: #111111;
  }

  .st4 {
    fill: #444444;
  }

  .logo-t {
    display: block;
  }

  .logo-m,
  .logo-d {
    display: none;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 54px 40px 0;
  }

  .header__wrapper {
    display: block;
    width: 610px;
    padding: 0;
    margin: 0;
    z-index: 2;
  }


  .header__logo-img {
    display: block;
    width: 202px;
    height: 57px;
    padding: 0;
    margin: 0;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .st0 {
    fill: #fdc305;
  }

  .st1 {
    fill: #f06351;
  }

  .st2 {
    fill: #e55645;
  }

  .st3 {
    fill: #111111;
  }

  .st4 {
    fill: #444444;
  }

  .logo-d {
    display: block;
  }

  .logo-m,
  .logo-t {
    display: none;
  }
}
