.item-reason {
  position: relative;
  padding-left: 80px;
  padding-bottom: 8px;
  margin-bottom: 18px;

  &::before {
    width: 60px;
    height: 60px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #68b738;
  }
}

.item-reason__desk--benefit {
  &::after {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.item-reason__desk--powder {
  &::after {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.item-reason__desk--reception {
  &::after {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.item-reason__desk--term {
  &::after {
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    z-index: 2;
    margin-left: 5px;
    margin-top: 5px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .item-reason {
    display: block;
    position: relative;
    // width: 324px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 138px;

    &::before {
      width: 80px;
      height: 80px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: #68b738;
    }
  }

  .item-reason:nth-child(1),
  .item-reason:nth-child(3) {
    width: 386px;
  }

  .item-reason:nth-child(1),
  .item-reason:nth-child(2) {
    padding-bottom: 55px;
    margin-bottom: 80px;
  }

  .item-reason:nth-child(3),
  .item-reason:nth-child(4) {
    padding-bottom: 55px;
  }

  .item-reason__desk {
    margin-top: 30px;

    &::before {
      width: 354px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      text-align: center;
      color: #f2f2f2;
      position: absolute;
      top: 0;
      left: 0%;
      margin-top: 90px;
      z-index: -1;
    }
  }

  .item-reason__desk--benefit {
    width: 208px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "1";
    }
  }

  .item-reason__desk--powder {
    width: 238px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "2";
    }
  }

  .item-reason__desk--reception {
    width: 239px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "3";
    }
  }

  .item-reason__desk--term {
    width: 247px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "4";
    }
  }
}

/*Desktop*/

@media (min-width: $desktop-width) {
  .item-reason {
    position: relative;
    width: 250px;
    padding: 0;
    padding-top: 80px;

    &::before {
      width: 80px;
      height: 80px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: #68b738;
    }
  }

  .item-reason:nth-child(1) {
    width: 250px;
    margin-left: 50px;
  }

  .item-reason:nth-child(3) {
    width: 250px;
    padding-bottom: 0;
    margin: 0;
  }

  .item-reason:nth-child(4) {
    margin: 0;
    margin-right: 45px;
    padding-bottom: 0;
  }

  .item-reason__desk {
    padding: 0;
    margin: 0;
    margin-top: 35px;

    &::before {
      width: 354px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      text-align: center;
      color: #f2f2f2;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 90px;
      z-index: -1;
    }
  }

  .item-reason__desk--benefit {
    width: 208px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "1";
    }
  }

  .item-reason__desk--powder {
    width: 238px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "2";
    }
  }

  .item-reason__desk--reception {
    width: 239px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "3";
    }
  }

  .item-reason__desk--term {
    width: 247px;

    &::after {
      width: 50px;
      height: 50px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      z-index: 2;
      margin-left: 15px;
      margin-top: 15px;
    }

    &::before {
      content: "4";
    }
  }
}
