.item-plus {
  display: flex;
  flex-direction: column;
  padding: 12px 0 17px;
  border-bottom: 1px solid #e6e6e6;
}

.item-plus__title {
  @include title-desk;
  line-height: 16px;
  padding-bottom: 12px;
}

.intro-plus__field,
.intro-plus__value {
  padding-bottom: 11px;
}

/*Планшет*/

@media (min-width: $tablet-width) {
  .item-plus {
    // Временно для сетки
    min-height: 900px;
    background-color: yellowgreen;
  }
}
