.list-reason {
  @include reset-list;
}

/*Планшет*/

@media (min-width: $tablet-width) {
  .list-reason {
    display: flex;
    flex-wrap: wrap;
  }
}

/*Desktop*/

@media (min-width: $desktop-width) {
  .list-reason {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
