.list-navigation {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-navigation__item {
  @include title-desk;
  font-size: 20px;
  font-weight: 500px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-navigation__link {
  display: inline-block;
  color: #111111;
  vertical-align: middle;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    color: #111111;
    border-bottom: 1px solid #68b738;
  }
}

.list-navigation__link-catalog,
.list-navigation__link-form {
  color: #111111;
  padding-bottom: 4px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 1px solid #68b738;
  }
}

.border {
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 21px;
}

.list-navigation__item:nth-child(1),
.list-navigation__item-catalog:nth-child(1),
.list-navigation__item-form:nth-child(1) {
  padding-top: 20px;
}


// Планшет

@media (min-width: $tablet-width) {
  .list-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 18%;
  }

  .list-navigation__item {
    @include title-desk;
    display: block;
    font-size: 18px;
    line-height: 25px;
    border: none;
    margin: 0;
    padding: 0;
  }

  .list-navigation__item:nth-child(1),
  .list-navigation__item-catalog:nth-child(1),
  .list-navigation__item-form:nth-child(1) {
    padding-top: 0;
  }

  .list-navigation__item:nth-child(1),
  .list-navigation__item:nth-child(2) {
    text-align: left;
  }

  .list-navigation-item:nth-child(3) {
    text-align: right;
  }

  .list-navigation__link,
  .list-navigation__link-catalog,
  .list-navigation__link-form {
    padding-bottom: 8px;
  }

  .border {
    display: none;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .list-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }

  .list-navigation__item {
    @include title-desk;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    border: none;
  }

  .list-navigation__item:nth-child(1),
  .list-navigation__item-catalog:nth-child(1),
  .list-navigation__item-form:nth-child(1) {
    padding-top: 0;
  }


  .list-navigation__link {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    padding: 8px 0;


    &--active {
      border-bottom: 1px solid #ffffff;
    }
  }

  .list-navigation__link-catalog,
  .list-navigation__link-form {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
    color: #111111;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      border-bottom: 1px solid #68b738;
      padding-bottom: 8px;
    }
  }

  .list-navigation__item:nth-child(1),
  .list-navigation__item:nth-child(2) {
    text-align: left;
  }

  .list-navigation-item:nth-child(3) {
    text-align: right;
  }

  .border {
    display: none;
  }
}
