.list-navigation {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-navigation__item {
  @include title-desk;
  width: 320px;
  font-size: 20px;
  font-weight: 500px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 22px 0 24px;
}

.list-navigation__link {
  color: #111111;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    color: #111111;
    border-bottom: 1px solid #68b738;
  }
}

.list-navigation__link-catalog,
.list-navigation__link-form {
  color: #111111;
  padding-bottom: 4px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 1px solid #68b738;
  }
}

// Планшет

@media (min-width: $tablet-width) {
  .list-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 440px;
  }

  .list-navigation__item {
    @include title-desk;
    font-size: 18px;
    line-height: 25px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-grow: 1;
  }

  .list-navigation__item:nth-child(1),
  .list-navigation__item:nth-child(2) {
    text-align: left;
  }

  .list-navigation__item:nth-child(1) {
    width: 66px;
    margin-right: 30px;
  }

  .list-navigation__item:nth-child(2),
  .list-navigation__item:nth-child(3) {
    width: 153px;
  }

  .list-navigation__item:nth-child(2) {
    margin-right: 36px;
  }

  .list-navigation-item:nth-child(3) {
    text-align: right;
  }

  .list-navigation__link,
  .list-navigation__link-catalog,
  .list-navigation__link-form {
    padding-bottom: 8px;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .list-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 485px;
  }

  .list-navigation__item {
    @include title-desk;
    font-size: 20px;
    line-height: 25px;
    border: none;
    padding-top: 6px;
    padding-bottom: 8px;
  }

  .list-navigation__link {
    color: #ffffff;
    padding-bottom: 4px;

    &--active {
      border-bottom: 1px solid #ffffff;
    }
  }

  .list-navigation__link-catalog,
  .list-navigation__link-form {
    color: #111111;
    padding-bottom: 4px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      border-bottom: 1px solid #68b738;
    }
  }

  .list-navigation__item:nth-child(1),
  .list-navigation__item:nth-child(2) {
    text-align: left;
  }

  .list-navigation__item:nth-child(1) {
    display: block;
    width: 72px;
    margin-left: 5px;
    margin-right: 32px;
  }

  .list-navigation__item:nth-child(2),
  .list-navigation__item:nth-child(3) {
    width: 168px;
  }

  .list-navigation__item:nth-child(2) {
    display: block;
    margin-right: 32px;
  }

  .list-navigation-item:nth-child(3) {
    display: block;
    text-align: right;
  }
}
