.main-nav {
  padding: 0 20px;
  margin: 0;
  background-color: red;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 596px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(158, 179, 152);
  }
}
