.map {
  position: relative;
}

.map-img {
  width: 320px;
  height: 400px;
  position: absolute;
  top:0;
  // transform: translateY(-50%);
}

.map iframe {
  position: relative;
  z-index: 2;
  width: 320px;
  height: 375px;
  border: 0;
}
