.map {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.map-img {
  width: 320px;
  height: 400px;
  position: absolute;
  top: 0;
}

.map iframe {
  position: relative;
  z-index: 2;
  width: 320px;
  height: 400px;
  border: 0;
}

/*Планшет*/

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    height: 400px;
    padding: 0;
    margin: 0;
  }
}

/*Десктоп*/

@media (min-width: $desktop-width) {
  .map {
    height: 400px;
    padding: 0 40px;
    margin: 0;
  }
}
