.offer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  width: 320px;
  font-family: "Oswald",
    "Arial",
    sans-serif;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding: 35px 0 152px;
}

.offer__img {
  position: absolute;
  content: "";
  left: 0%;
  top: 50%;
  width: 100%;
}

.offer__title {
  color: #ffffff;
  margin-bottom: 30px;
}

.offer__intro {
  font-family: "Oswald",
    "Ariel",
    sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.offer__button {
  @include button-outline;
  display: block;
  font-family: "Oswald",
    "Ariel",
    sans-serif;
  margin: 196px 20px 20px;
}


// Планшет
@media (min-width: $tablet-width) {
  .offer__wrapper {
    position: relative;
    width: 768px;
    text-align: left;
    color: #111111;
    background-image: none;
    padding: 0 120px;
  }

  .offer__img {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 200px;
  }

  .offer__title {
    color: #111111;
    padding: 0;
    margin-bottom: 42px;
  }

  .offer__intro {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 42px;
  }

  .offer__button {
    @include button-outline;
    position: relative;
    width: 246px;
    display: block;
    font-family: "Oswald",
      "Ariel",
      sans-serif;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
    margin: 0 120px;
  }
}
