body {
  padding: 0;
  margin: 0;
  background: $bg-Light;
}

@media (min-width: $tablet-width) {
  body {
    padding: 0;
    margin: 0;
    background: $bg-Light;
  }
}

@media (min-width: $desktop-width) {
  body {
    padding: 0;
    margin: 0;
    background: $bg-Light;
  }
}
