.price {
  width: 140px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.price__field,
.price__value {
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}

.price__value {
  text-align: right;
}

.price__title {
  width: 75px;
  padding: 22px 0 12px;
}

/*Планшет*/

@media (min-width: $tablet-width) {
  .price {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    margin: 50px 38px 36px;
    background-color: $bg-dark;
  }

  .card__img--small {
    width: 324px;
    height: 160px;
    margin-top: -46px;
  }

  .card__img--big {
    width: 324px;
    height: 192px;
    margin-top: -82px;
  }

  .price__title {
    display: block;
    width: 130px;
    text-align: center;
    padding: 0;
    margin-top: 4px;
    margin-left: 60px;
    margin-bottom: 20px;

    &--small {
      display: block;
      margin-top: 0;
    }
  }

  .price__field,
  .price__value {
    width: 126px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
    padding: 6px 0 8px;
  }

  .price__value {
    text-align: right;
  }
}


// Десктоп

@media (min-width: $desktop-width) {
  .price {
    display: block;

    width: 172px;
    margin: 0 auto;
    padding: 50px 0 32px;
    background-color: $bg-dark;
  }

  .price__title {
    width: 130px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 20px;
    margin: 0 auto;

    &--small {
      display: block;
      padding-top: 0;
    }
  }

  .price__field,
  .price__value {
    display: inline-block;
    width: 86px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
    padding: 6px 0 8px;
    box-sizing: border-box;
  }

  .price__value {
    text-align: right;
  }
}
