.reason {
  padding: 10px 20px 0;
}

.reason__title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 28px;
}


/*Планшет*/

@media (min-width: $tablet-width) {
  .reason {
    padding: 12px 30px 25px;
    border-bottom: 1px solid #e6e6e6;
  }

  .reason__title {
    padding: 0;
    margin: 0;
    padding-bottom: 72px;
  }
}


/*Desktop*/

@media (min-width: $desktop-width) {
  .reason {
    padding: 40px 60px 58px;
    border-bottom: none;
  }

  .reason__title {
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-bottom: 70px;
  }
}
