html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.component {
  box-sizing: content-box;
}


body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Oswald",
    "Arial",
    sans-serif;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 36px;
  line-height: 60px;
}

h3 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

p {
  font-family: "Arial",
    sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


// Планшет
@media (min-width: $tablet-width) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }

  p {
    font-family: "Arial",
      sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
}
