.welcome {
  padding: 15px 30px 16px;
}

.welcome__title {
  @include title-desk;
  display: inline-block;
  width: 138px;
}

.welcome__contact {
  display: inline-block;
  width: 138px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .welcome {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 34px;
  }

  .welcome__title {
    @include title-desk;
    display: inline-block;
    width: 155px;
  }

  .welcome__contact {
    display: inline-block;
    width: 155px;
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    // Временно для сетки
    background-color: bisque;
  }
}
