.welcome {
  padding-top: 14px;
  padding-bottom: 14px;
}

.welcome-wrapper {
  display: flex;
}

.welcome__title {
  @include title-desk;
  display: inline-block;
  width: 138px;
}

.welcome__contact {
  display: inline-block;
  width: 138px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  // ВРЕМЕННО ДЛЯ СЕТКИ
  .welcome {
    min-height: 205px;
    background-color: green;
  }
}
