.welcome {
  padding: 33px 20px;
}

.welcome-wrapper {
  display: flex;
}

.welcome__title {
  @include title-desk;
  display: inline-block;
  width: 138px;
}

.welcome__contact {
  display: inline-block;
  width: 138px;
  line-height: 20px;
}
