@charset "UTF-8";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: red;
  background-color: #f58888;
}

.page-header {
  display: flex;
}

.page-header__logo {
  fill: #000000;
}
